h1{
    color: white;
    
}

header{
    background-color: white;
}


body{

    background-color: ghostwhite;
}

section{
    border: 1px solid black;
}

article{
    
    margin-left: 100px;
    width: 500px;
    

}

.estilo_imagen{

    height: 1200px;
}

.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    border: 1px solid #ddd;
    padding: 5px;
}

.img-container img{
    width: 100%;
    height: auto;
}

.img-text{
    text-align: center;
    margin-top: 0.5rem;
    overflow-wrap: break-word;
}


.espacio{
    
    width: 300px ;
    margin: 0 auto;
}

.cuadro{
    border: 1px solid black;
}


.card-img {
    object-fit: cover; 
    width: 100%;
    height: auto; 
}

.estilo_img{
    width: 40px;
    height: 40px;

}

footer .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

footer .col {
    flex: 1;
    text-align: center;
}

.color {
    height: 150px;
    background-color: goldenrod;
    width: 100%;
    padding: 20px; 
    box-sizing: border-box; 
}

footer .container {
    max-width: 100%; 
}
